<!DOCTYPE html>
<html lang="en">
<head>
    <title>Appointment Booking App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<link rel="stylesheet" href="css/style.css">

</head>
<body>
  
  <div class="main-block">
    <h1><%if(edit){%>Edit Item<%} else{ %>Add Item<% } %></h1>
    <form id="form" action="<%if(edit){%>/edit/<%=item.id%><%} else{ %>/add<% } %>" method="POST" >
      <hr>
      <input type="text" name="name" value="<%if(edit){%><%=item.Name%><%} %>"  required/><br>  
      <input type="text" name="email" value="<%if(edit){%><%=item.Email%><%}  %>" required/>

      <div class = "msg"></div>    
    </hr>
      <div class="btn-block">
        <button id="add" type="submit"><%if(edit){%>Edit<%} else{ %>Add<% } %></button>
      </div>
    </form>
  </div>
 
</body>


</html>
