<!DOCTYPE html>
<html lang="en">
<head>
    <title>Appointment Booking App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
  
  <div class="main-block">
    <h1>Appointment</h1>
    <a href="/add" ><button id="add" type="submit">Add</button></a>
    <ul name="ul" id ="items">
      <% data.forEach(i=> { %>
        <li><%= i.Name %> : <%= i.Email %> <div id="buttons">
          <a href="/delete/<%=i.id%>" ><button type="submit" class="btn">Delete</button></a>
          <a href="/edit/<%=i.id%>" ><button type="submit" class="btn">Edit</button>
          </a>
          </div>
          
        </li>
        <%})%>
  </ul>
  </div>
 
</body>
</html>
